node_modules
log*
log/*
upload
.yarn
.env
!.yarn/release/*

.DS_Store


packages/backend/dist
packages/backend/static/assets/*
packages/backend/static/html/index.html
packages/backend/static/*js*
packages/frontend/dist/*.js
packages/frontend/dist/*.map
packages/frontend/dist/*.js.*
packages/frontend/src/*.js


packages/arduino/dist/*
