<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/css/client.css" media="all">
  <title><%= title %></title>
</head>
<body id="body">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/base64-binary.js"></script>
  <script src="javascripts/stats.js"></script>
  <script src="javascripts/clmtrackr.js"></script>
  <script type="text/javascript" src="javascripts/grid.js"></script>
  <script type="text/javascript" src="javascripts/version.js"></script>
  <script type="text/javascript" src="javascripts/detector.js"></script>
  <script type="text/javascript" src="javascripts/formatinf.js"></script>
  <script type="text/javascript" src="javascripts/errorlevel.js"></script>
  <script type="text/javascript" src="javascripts/bitmat.js"></script>
  <script type="text/javascript" src="javascripts/datablock.js"></script>
  <script type="text/javascript" src="javascripts/bmparser.js"></script>
  <script type="text/javascript" src="javascripts/datamask.js"></script>
  <script type="text/javascript" src="javascripts/rsdecoder.js"></script>
  <script type="text/javascript" src="javascripts/gf256poly.js"></script>
  <script type="text/javascript" src="javascripts/gf256.js"></script>
  <script type="text/javascript" src="javascripts/decoder.js"></script>
  <script type="text/javascript" src="javascripts/qrcode.js"></script>
  <script type="text/javascript" src="javascripts/findpat.js"></script>
  <script type="text/javascript" src="javascripts/alignpat.js"></script>
  <script type="text/javascript" src="javascripts/databr.js"></script>
  <div id="wrapper">
    <video id="video" style="display:none;"></video>
  <canvas id="cnvs">
    canvas not applied.
  </canvas>
  <canvas id="strCnvs">
    canvas not applied.
  </canvas>
  </div>
  <script type="text/javascript">
  var socket = io.connect();
  var video;
  var buffer = document.createElement('canvas');
  var client = "<%= title %>";
  //var mode = "none"; //"osc" or "feedback" or "whitenoise"
  </script>
  <script src="/javascripts/client.js"></script>
</body>
</html>
