<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/css/client.css" media="all">
  <title><%= title %></title>
</head>
<body id="body">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/base64-binary.js"></script>
  <script src="javascripts/stats.js"></script>
  <script src="javascripts/clmtrackr.js"></script>
  <div id="wrapper">
    <video id="video" style="display:none;"></video>
  <canvas id="cnvs">
    canvas not applied.
  </canvas>
  <canvas id="strCnvs">
    canvas not applied.
  </canvas>
  </div>
  <script type="text/javascript">
  var socket = io.connect();
  var video;
  var buffer = document.createElement('canvas');
  var client = "<%= title %>";
  //var mode = "none"; //"osc" or "feedback" or "whitenoise"
  var cmdMode = {
    "sinewave": false,
    "whitenoise": false,
    "feedback": false,
    "instruction": false
  }
  var videoMode = {"mode": "none", "option": "none"}; //"record" or "playback"
  var timelapseMode = false;
  var strings = "";
  var serverFlag = false;
  var standAlone = false;
  var streamList;
  </script>
  <script src="/javascripts/client.js"></script>
</body>
</html>
