<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/css/client.css" media="all">
  <title><%= title %></title>
</head>
<body id="body">
  <script src="/javascripts/jquery-1.11.0.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <div id="wrapper">
  <video id="video" style="display:none;"></video>
  <canvas id="cnvs">
    canvas not applied.
  </canvas>
  </div>
  <script type="text/javascript">
  var socket = io.connect();
  var video;
  var title = "<%= prop %>";
  var mode = "none"; //"osc" or "feedback" or "whitenoise"
  var videoMode = "none"; //"record" or "playback"
<<<<<<< Updated upstream
  var no = <%= no %>;
=======
  var timelapseMode = false;
>>>>>>> Stashed changes
  var strings = "";
  </script>
<<<<<<< Updated upstream
  <script src="/javascripts/func.js"></script>
  <script src="/javascripts/sock.js"></script>
  <script src="/javascripts/keycode.js"></script>
  <script src="/javascripts/keyboard.js"></script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/webaudio.js"></script>
=======
  <script src="/javascripts/client.js"></script>
>>>>>>> Stashed changes
</body>
</html>
