<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>com posit ion</title>
  </head>
  <body>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/javascripts/waapisim.js"></script>
    <script type="text/javascript" src="/javascripts/mespeak/mespeak.js"></script>
    <script src="/socket.io/socket.io.js"></script>

<h1>sine wave sine wave</h1>
<p><button id="button" onclick="Play()" style="WIDTH:200px;HEIGHT:20px"> start </button></p>
<script type="text/javascript" src="javascripts/composition.js"></script>
</body>

</html>
