<% include head/header %>
  <p>
    <form id="form_gain">
      gain <input type="text" id="val_g" size="3" value=0> enverope <input type="text" id="env_g" size="5" value=1> time_diff <input type="text" value=0 size="1" id="flag_g"> <input type="submit" value="gain">
    </form>
  </p>
  <p>
    <form id="form_freq">
      frequency <input type="text" id="val_f" size="5" value="440"> envelope <input type="text" id="env_f" size="5" value="1"> time_diff <input type="text" id="flag_f" size="1" value="0"> freq_diff <input type="text" id="diff_f" size="1" value="0"> <input type="submit" value="freq">
    </form>
  </p>
  <p>
    <form id="form_port">
      <input type="text" id="time_p" size="3" value="1"> <input type="text" id="env_p" value="10"> <input type="text" id="flag_p" size="1" value="0"><input type="submit" value="portament">
    </form>
  </p>

  <p>
    <form id="form_txt">
      txt <input type="text" id="sub_txt" size="15"> <input type="submit" value="submit">
    </form>
  </p>

    <ul id="logs"></ul>
    <script type="text/javascript" src="/javascripts/emit.js"></script>
<% include head/footer %>
