<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= title %></title>
</head>
<body id="body">
  <script src="/javascripts/jquery-1.11.0.js"></script>
  <h1>knd.space</h1>
  <br>
  <h3>これからの予定</h3>
  <ul>
    <li>
      2017-06-24 #24JUN17SAT at pocke
    </li>
  </ul>
  <h3>about</h3>
  <ul>
  <li>神田聡</li>
  <li>エレキベース、牛乳瓶、紐などを演奏します。</li>
  <li>最近はパソコンなどの電子機器の演奏を行っています。</li>
  </ul>
  <ul>
    <li>mail: satoshi.kanda＠gmail.com</li>
    <li>twitter: <a href="https://twitter.com/knd">@knd</a></li>
    <li>soundcloud: <a href="https://soundcloud.com/knd">knd</a></li>
    <li>github: <a href="https://github.com/kndkndknd">kndkndknd</a></li>
  </ul>
</body>
</html>
