<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" media="all">
  <title><%= title %></title>
</head>
<body id="body">
  <script src="/javascripts/jquery-1.11.0.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <div id="wrapper">
  <button onclick="Play()" id="play">start</button>
<video id="video" style="display:none;"></video>
<canvas id="cnvs">
    canvas not applied.
</canvas>
  </div>
  <script>
    var sw = <%= sw %>;
    var BPM = <%= BPM %>;
  </script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/ios.js"></script>
</body>
</html>
