<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <title>DEVICE MOTION SAMPLE</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1 id="txt">Push start</h1>
    <p>Id: <span id="num"><%= id %></span>
    <p>Id: <span id="acsum"></span></p>
    <p><button id="button" onclick="Play()" style="WIDTH:200px;HEIGHT:20px"> start </button></p>
    <script src="/javascripts/iphone.js"></script>
</body>
</html>