<% include head/header %>
<p><span id="one">record</span>
  <span id="two">stop</span>
  <span id="status"></span>
  </p>
<ul id="timeline">
</ul>
<br>
<span id="debug"></span>

<script src="/javascripts/rec.js"></script>
<script src="/javascripts/Recorderjs/recorder.js"></script>
<% include head/footer %>
