<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
  </head>
  <body id="body">
    <video id="video" style="display:none;"></video>
    <canvas id="canvas_rsv" width="640" height="480"></canvas>

    <p>
    <span id="emit">emit</span>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/video.js"></script>
</body>
</html>
