.right {
  float: right;
  width: 50%;
  /*background: tomato;*/
}

.left {
  float: left;
  width: 50%;
}

table#clientList {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}

table#clientList th {
  font-weight: normal;
  font-size: 80%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
}

table#clientList td {
  padding: 6px;
  vertical-align: center;
  border: 1px solid #ccc;
}

input[type=checkbox] {
  width: 14px;
  height: 14px;
  -moz-transform:		scale(1.4);
  -webkit-transform:	scale(1.4);
  transform:		scale(1.4);
}

#IdTd {
  font-weight: normal;
  font-size: 80%;
}

#clientTd {
  font-weight: bold;
  font-size: 90%;
}

/*#targetCtrl {
  float: right;
  width: 50%;
  background: lime;
}

#sampleRate {
  float: right;
  width: 50%;
  background: skyblue;
}
*/
/*#cmdStatus {
  float: left;
  width: 50%;
  background: slategray;
}

#upLoad {
  float; left;
  width: 50%;
  background: green;
}*/
/*.clearfix::after {*/
  /*content: '';*/
  /*display: block;*/
  /*clear: both*/
/*}*/
