#instruction_input {
width: 350px;
font-size: 1.3em;
}

#container     {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
}
#inputarea        {
  width: 400px;
  min-height: 300px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
}
#viewarea     {
  width: 500px;
  min-height: 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
}

#notice {
  height: 10px;
}
