body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body #wrapper{
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
}

#play{
  width: 1000px;
  height: 400px;
  font-size: xx-large;
}
