body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body #wrapper{
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
}

body #cnvs{
  position:absolute;
  z-index:2;
}
body #bckcnvs{
  position:absolute;
  z-index:0;
}

body #cinema{
  position:absolute;
  z-index:1;
}