<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
    <title><%= title %></title>
  </head>
  <body id="body">
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/javascripts/waapisim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
